@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html{
    font-size: 10px;
    box-sizing: border-box;
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --color-facebook: hsl(208, 92%, 53%);
    --color-twitter: hsl(203, 89%, 53%);
    --color-youtube: hsl(348, 97%, 39%);
    --gradient-instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}

*{
    box-sizing: inherit;
}

.dark-theme{
    --toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --bg-color: hsl(230, 17%, 14%);
    --bg-color-header: hsl(232, 19%, 15%);
    --bg-color-card: hsl(228, 28%, 20%);
    --text-color-primary: hsl(0, 0%, 100%);
    --text-color-secondary: hsl(228, 34%, 66%);
}

.light-theme{
    --toggle: hsl(230, 22%, 74%);
    --bg-color: hsl(0, 0%, 100%);
    --bg-color-header: hsl(225, 100%, 98%);
    --bg-color-card: hsl(227, 47%, 96%);
    --text-color-primary: hsl(230, 17%, 14%);
    --text-color-secondary: hsl(228, 12%, 44%);
}

body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.dashboard{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
}

#theme-mode:checked ~ .dashboard{
    /* DARK THEME COLORS */
    --toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --bg-color: hsl(230, 17%, 14%);
    --bg-color-header: hsl(232, 19%, 15%);
    --bg-color-card: hsl(228, 28%, 20%);
    --text-color-primary: hsl(0, 0%, 100%);
    --text-color-secondary: hsl(228, 34%, 66%);
}

.dashboard-header{
    background-color: var(--bg-color-header);
    width: 100%;
    height: 32vh;
    display: grid;
    grid-template-columns: 1fr repeat(4, 4fr) 1fr;
    column-gap: 3rem;
    padding-top: 3rem;
}

.dashboard-header .title{
    grid-column: 2 / 4;
}

.dashboard-header .title h1{
    font-size: 3.2rem;
    color: var(--text-color-primary);
    margin: 0;
}

.dashboard-header .title p{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-color-secondary);
    margin: 0;
}

.dashboard-header .theme-mode{
    grid-column: 4 / 6;
    justify-self: end;
    align-self: start;
    margin-top: 1.6rem;
}

.theme-toggle-label{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-color-secondary);
    display: flex;
    align-items: center;
}

.theme-toggle-btn{
    margin-left: 1.6rem;
    display: inline-block;
    width: 6rem;
    height: 2rem;
    background: var(--toggle);
    border-radius: 5rem;
    position: relative;
}

.theme-toggle-btn::before{
    content: '';
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--bg-color-header);
    border-radius: 50%;
    position: absolute;
    left: 4.2rem;
    top: .2rem;
    transition: left .3s ease-in-out;
}

#theme-mode:checked ~ .dashboard .theme-toggle-btn::before{
    left: .2rem
}

.follower-cards{
    width: 100%;
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr repeat(4, 4fr) 1fr;
    column-gap: 3rem;
    transform: translateY(-50%);
    position: relative;
}

.follower-card{
    background-color: var(--bg-color-card);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}

.follower-card .card-user img{
    vertical-align: middle;
    margin-right: .8rem;
}

.follower-card .card-user span{
    vertical-align: middle;
    font-size: 1.2rem;
    font-weight: bold   ;
    color: var(--text-color-secondary);
}

.follower-card .followers{
    font-size: 5rem;
    margin: 1.6rem 0 0 0;
    color: var(--text-color-primary);
}

.follower-card .text{
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-top: 0;
    color: var(--text-color-secondary);
    letter-spacing: .3rem;
}

.follower-card .followers-today{
    margin-top: 1.6rem;
}

.follower-card .followers-today img {
    vertical-align: middle;
    width: 1.2rem;
    height: .6rem;
    margin-right: .4rem;
}
.follower-card .followers-today span {
    vertical-align: middle;
    font-size: 1.2rem;
    font-weight: bold;
}

.count-up{
    color: var(--lime-green);
}

.count-down{
    color: var(--bright-red);
}

.facebook-card{
    grid-column: 2 / 3;
    border-top: .4rem solid var(--color-facebook);
}

.twitter-card{
    grid-column: 3 / 4;
    border-top: .4rem solid var(--color-twitter);
}

.instagram-card{
    grid-column: 4 / 5;
    background: var(--gradient-instagram), var(--bg-color-card);
    background-size: 100% .4rem;
    background-repeat: no-repeat;
}

.youtube-card{
    grid-column: 5 / 6;
    border-top: .4rem solid var(--color-youtube);
}


.overview-cards{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr repeat(4, 4fr) 1fr;
    column-gap: 3rem;
    row-gap: 2rem;
    transform: translateY(-30%);
    position: relative;
}

.overview-heading{
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--text-color-secondary);
    margin-bottom: 0;
}

.card-1{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.card-2{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.card-3{
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}
.card-4{
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}
.card-5{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.card-6{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}
.card-7{
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}
.card-8{
    grid-column: 5 / 6;
    grid-row: 3 / 4;
}
.overview-card{
    background-color: var(--bg-color-card);
    border-radius: .5rem;
    padding: 1.6rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    row-gap: 1.6rem;
    align-items: center;
}

.card-title{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-color-secondary);
}
.card-social-icon{
    justify-self: end;
}
.card-count{
    font-size: 3.2rem;
    color: var(--text-color-primary);
    font-weight: bold;
}

.count-change{
    text-align: right;
}

.count-change img{
    vertical-align: middle;
    width: 1.2rem;
    height: .6rem;
    margin-right: .4rem;
}

.count-change span{
    vertical-align: middle;
    font-size: 1.2rem;
    font-weight: bold;
}

@media (max-width: 1100px){
    .dashboard{
        height: 100%;
    }
    .dashboard-header, .follower-cards, .overview-cards{
        grid-template-columns: 2rem repeat(4, 4fr) 2rem;
        column-gap: 2rem;
    }
    .dashboard-header .title h1{
        font-size: 2.8rem;
    }
    .theme-toggle-btn{
        width: 5rem;
    }
    .theme-toggle-btn::before{
        left: 3.2rem;
    }
    .follower-card .followers{
        font-size: 4rem;
    }
    .follower-card .text{
        font-size: 1.2rem;
    }
    .card-count{
        font-size: 2.8rem;
    }
}

@media (max-width: 900px){
    .dashboard{
        height: 100%;
    }
    .dashboard-header{
        grid-template-columns: 1fr repeat(4, 4fr) 1fr;
        column-gap: 3rem;
    }
    .dashboard-header .title{
        grid-column: 2 / 5;
    }
    .dashboard-header .theme-mode{
        grid-column: 5 / 6;
    }
    .dashboard-header .theme-mode{
        margin-top: 0;
    }
    .theme-toggle-label{
        flex-direction: column;
        justify-content: start;
    }
    .theme-toggle-btn{
        margin-left: 0;
        margin-top: 1.6rem;
    }
    
    .follower-cards{
        width: 100%;
        height: 60vh;
        grid-template-columns: 1fr repeat(4, 4fr) 1fr;
        column-gap: 3rem;
        row-gap: 3rem;
        transform: translateY(-9rem);
    }

    .facebook-card{
        grid-column: 2 / 4;
        grid-row: 1 / 2;
    }
    
    .twitter-card{
        grid-column: 4 / 6;
        grid-row: 1 / 2;
    }
    
    .instagram-card{
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }
    
    .youtube-card{
        grid-column: 4 / 6;
        grid-row: 2 / 3;
    }

    .overview-cards{
        grid-template-columns: 1fr repeat(4, 4fr) 1fr;
        column-gap: 3rem;
        row-gap: 2rem;
        transform: translateY(-7rem);
    }
    .card-1{
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }
    .card-2{
        grid-column: 4 / 6;
        grid-row: 2 / 3;
    }
    .card-3{
        grid-column: 2 / 4;
        grid-row: 3 / 4;
    }
    .card-4{
        grid-column: 4 / 6;
        grid-row: 3 / 4;
    }
    .card-5{
        grid-column: 2 / 4;
        grid-row: 4 / 5;
    }
    .card-6{
        grid-column: 4 / 6;
        grid-row: 4 / 5;
    }
    .card-7{
        grid-column: 2 / 4;
        grid-row: 5 / 6;
    }
    .card-8{
        grid-column: 4 / 6;
        grid-row: 5 / 6;
    }
}

@media (max-width: 600px){
    .dashboard-header{
        height: 23rem;
        grid-template-columns: 1fr 8fr 1fr;
        grid-template-rows: repeat(2, min-content);
        column-gap: 0;
        border-radius: 0 0 3rem 3rem;
    }
    .dashboard-header .title{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        padding-bottom: 2rem;
        border-bottom: .1rem solid var(--text-color-secondary);
    }
    
    .dashboard-header .title h1{
        font-size: 2.2rem;
        margin-bottom: .5rem;
    }
    
    .dashboard-header .title p{
        font-size: 1.4rem;
    }
    
    .dashboard-header .theme-mode{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: stretch;
        padding: 2rem 0;
    }
    
    .theme-toggle-label{
        font-size: 1.4rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .theme-toggle-btn{
        margin: 0;
        width: 4rem;
    }  
    .theme-toggle-btn::before{
        left: 2.2rem;
    }

    .follower-cards{
        width: 100%;
        height: auto;
        grid-template-columns: 1fr 8fr 1fr;
        column-gap: 0;
        row-gap: 2rem;
        transform: translateY(-5rem);
    }
    
    .follower-card{
        padding: 2rem 0;
    }

    .facebook-card{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
    .twitter-card{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    
    .instagram-card{
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    
    .youtube-card{
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
    
    .overview-cards{
        grid-template-columns: 1fr 8fr 1fr;
        column-gap: 0;
        row-gap: 2rem;
        transform: translateY(-3rem);
    }
    
    .overview-heading{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        font-size: 2.2rem;
    }
    
    .card-1{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .card-2{
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    .card-3{
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }
    .card-4{
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }
    .card-5{
        grid-column: 2 / 3;
        grid-row: 6 / 7;
    }
    .card-6{
        grid-column: 2 / 3;
        grid-row: 7 / 8;
    }
    .card-7{
        grid-column: 2 / 3;
        grid-row: 8 / 9;
    }
    .card-8{
        grid-column: 2 / 3;
        grid-row: 9 / 10;
    }
}